::selection {
  background-color: yellow;
  color: black;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    line-height: 18.4px;
}

body {
  font-size: 16px;
  background-color: #FAFAFA;
}

main {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

pre {
  overflow-x: auto;
  background-color: black;
  padding: var(--milli);
  font-size: 92%;
  border-radius: 0.25rem;
  border: 1px dotted black;
}

.contentWarning {
  background-color: #EEE;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  border: 1px dotted black;
  border-radius: 0.25rem;
  color: black;
}

textarea {
  background-color: #EEE;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  padding: 1rem;
  resize: vertical;
  width: 100%;
  margin: 1rem 0;
  height: 12rem;
  border: 1px dotted black;
  border-radius: 0.25rem;
  color: black;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  border: 1px dotted black;
}

/* Prevent button styles being applied to heart button */
button:focus,
button:hover {
  background-color: #000;
}

/* section styles */
section {
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}
section.post {
  background-color: white;
  border: 1px solid black;
}

section > header {
  background: #FFF;
  height: 40px;
  margin-bottom: calc(-1 * 10px);
  margin-top: calc(-1 * 10px);
  padding: 10px 0;
  position: sticky;
  top: 0;
}

section > header > div {
  display: flex;
  justify-content: space-between;
}

section header a > .avatar {
  width: 40px;
  height: 40px;
  border-radius: 0.25rem;
  margin-right: 10px;
}

section header span {
  display: inline-flex;
}
section header .author > a:first-child {
  margin-left: 0;
  color: #000;
}

section header a {
  display: flex;
  text-decoration: none;
  font-weight: bold;
}

section > footer > div > a,
section > footer > div > form > button {
  font-weight: bold;
}

section > footer > div > form > button {
  display: inline-block;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

section > div > footer > form > button:hover,
section > div > footer > form > button:focus {
  background-color: transparent;
}

section code {
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.125em 0.25em;
  margin: 0;
  font-size: var(--code-size);
  background-color: #FFF;
  border-radius: 0.25rem;
  border: var(--pico) solid var(--bg-status);
}

section pre code {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 100%;
  background-color: initial;
  border: initial;
  border-radius: initial;
}

section blockquote {
  margin-left: 0;
  border-left: 0.5rem double black;
  padding-left: 1rem;
}

section img,
section video {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

section > h1 {
  margin-top: 0;
  padding-top: 0;
}
/* END of section */

.profile > img,
.profile > h1 {
  display: inline-block;
}

section > header.profile {
  height: auto;
  justify-content: left;
}

.profile > img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

.private {
  border-left: var(--milli) solid var(--violet);
  border-color: var(--violet);
}

section.thread-target {
  border: var(--pico) solid var(--blue);
  box-shadow: 0 0 var(--micro) var(--blue);
}

section.thread-target.private {
  border: var(--pico) solid var(--violet);
  border-left: var(--milli) solid var(--violet);
  border-color: var(--violet);
  box-shadow: 0 0 var(--micro) var(--violet);
}

section audio {
  width: 100%;
}

@media screen {
  html {
    min-height: 100%;
  }

  body {
    width: 100%;
    max-width: var(--measure);
    margin: 0;
  }
}

/*
 * HACK: centered-footer
 *
 * When someone likes a message we want to submit the form and then redirect
 * them back to the original page. Unfortunately when you link to anchor tags
 * that scrolls the browser so that they're at the *top* of the page, not the
 * center of the page. In our view we have an empty div with an appropriate
 * anchor tag, so here we use CSS to center it on the screen.
 *
 * The code below creates padding-top that takes up 50% of the height of the
 * viewport and then gets rid of it with negative margin. This has no effect
 * on the display of the item, but means that when we link to the anchor tag
 * it centers this empty element vertically on the screen.
 *
 * We also use `pointer-events: none` to ensure that this invisible div doesn't
 * capture cursor events (clicks, drags, etc) on surrounding elements, because
 * otherwise we could have a problem where someone clicks above the invisible
 * div but the browser picogs they're clicking the gigantic amount of padding.
 */
section > .centered-footer {
  padding-top: 50vh;
  margin-top: -50vh;
  pointer-events: none;
}

section > footer {
  color: var(--fg-status);
}

section > footer br {
  display: none;
}

section > footer > div {
  display: flex;
  justify-content: space-between;
}

section > footer > div > * {
  text-decoration: none;
}

section > footer > div > form > button.liked {
  color: var(--red);
}

.profile {
  display: flex;
  margin-bottom: 1rem;
}

progress {
  display: block;
  width: 100%;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value,
progress {
  background: var(--blue);
  border-color: var(--blue);
}

summary {
  padding: var(--milli);
  margin-top: 1rem;
  cursor: pointer;
  background: #FFF;
  border-radius: 0.25rem;
  list-style-type: "+ ";
}

details[open] > summary {
  list-style-type: "− ";
}

.md-mention {
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background: none;
  font-size: 50%;
}

input[type="search"] {
  width: 100%;
  margin: 1rem 0;
}

.form-button-group {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* sidebar only appears on big screens */
@media (min-width: calc(45rem)) {
  main {
    width: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    max-width: none;
  }
}
